<!DOCTYPE html>   
 
 <html>
  <head></head>
  <body>
    <nav class="deeznuts">
      <span><i class="fab fa-twitter"></i></span>
      <ul>
          <li><i class="fas fa-pen-fancy"></i></li>
          <li><i class="fas fa-envelope"></i></li>
          <li><i class="fas fa-search"></i></li>
          <li><i class="fas fa-cog"></i></li>
      </ul>
    </nav>
  </body>
 </html>